body {
    text-align: center;
    margin: auto;
    max-width: 70%;
    background-image: linear-gradient(rgb(185, 243, 255), rgb(229, 208, 255), rgb(255, 200, 239));
    padding: 15x;
    border: 4px solid white;
    border-radius: 5px;
}

img {
    display: block;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

.justify{
    margin: 20px auto;
    max-width: 70%;
    text-align: justify;
    text-indent: 50px;
}

.verdana {
    font-family: Verdana, sans-serif;
    margin-top: 30px;
}

#image {
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    text-align: center;
}